.main_banner_section {
    background-image: url(../img/main_bg.webp);
    color:white;
    background-size: cover;
    height: 500px;
}

.utp_section {
    background-image: url(../img/advantage_bg.webp);
    color:white;
    background-size: cover;
    height: 500px;
}
