$main_color: #1D578A;
$hover_color: #2E85B6;
$sub_color: #d90d16;
$black_color: #1B1B1B;

$gray_bg_color:#f8f9fd;
$gray_border_color:#ededed;

$main_transition: all .5s ease;

$main_fonts: "Montserrat", sans-serif;

$border_rad: 10px;

$section_space: 20px;
$conteiner_max_w: 1280px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;

:root{
    --light: #ffffff;
    --border: #3e3e3d;
    --dark: #000000;
    --blue: #385787;
    --red: #b9151b;
    --bg: #f8fafc;
    --great-transition: all .3s ease;
}
