@import "typography";
@import "common";
@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";


body{
    font-family: $main_fonts;
    font-size: 16px;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    // width:94%;
    // margin: 0 auto;
    padding: 0 40px;
}


.logo_img {
    width:165px;
    height: auto
}

.sprite_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

a {
    color:$main_color;
    &:hover {
        color: $hover_color
    }
}

.hidet{
    display: none
}

.collumn_box {
    display: flex;
    flex-wrap: wrap;

    &.c2 .coll {
        width: 48%;
    }
}

@media screen and (max-width:768px){
    .collumn_box {
        &.c2 .coll {
            width: 100%;
        }
    }
}

.inline_icon {
    position: relative;
    padding-left: 25px;

    &.icon_map-pin::before {
        content: "";
        background-image: url('../img/icon/map_pin.svg');
        position: absolute;
        left:3px;
        top:2px;
        width:16px;
        height: 16px
    }
}

.map_page {
    width:100%;
    height: 350px;
    margin-top: 40px;
    border:1px solid lightgray;
}

.contact_in_page {
    .phone_lnk {
        font-size: 32px;
        color:black
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.max_height {
    min-height: 70%;
}

.td_blk_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;

    .td_blk {
        width:22%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        h2 {
            font-size: 20px;
            color: black
        }
    }

    @media screen and (max-width:768px){
            .td_blk {
                width:31%;
            }
    }

    @media screen and (max-width:480px){
            .td_blk {
                width:48%;

                h2 {
                    font-size: 18px;
                }
            }
    }
}

@import "header";
@import "sidebar-schem";
@import "main-page-style";
@import "footer";
@import "media";
@import "products";
@import "services";
@import "inner-page";
