@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";


body{
    font-family: $main_fonts;
    font-size: 16px;
}

header,
footer,
section{
    width: 100%;
    padding-top: $section_space;
    padding-bottom: $section_space;
}

.container{
    width:94%;
    margin: 0 auto;
}


.logo_img {
    width:165px;
    height: auto
}

.sprite_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

a {
    color:$main_color;
    &:hover {
        color: $hover_color
    }
}

.hidet{
    display: none
}

@import "sidebar-schem";
@import "main-page-style";
@import "footer";
