h1, .h1{
    font-size: 66px;
    font-weight: 700;
}
p{
    margin: 10px 0;
}


// =======================
@media screen and (max-width: 750px){
    h1, .h1 {
        font-size: 45px;
        font-weight: 700;
    }
}
@media screen and (max-width: 400px){
    h1, .h1 {
        font-size: 30px;
        font-weight: 700;
    }

}
