
label{
    font-size: 14px;
    margin-bottom: 5px;

    span.required{
        color: red;
    }
}

label._error{
    color: red;
    a {
        color: red;
    }
}

.checkbox_label {
    display: flex;
    span {
        margin-left: 10px;
    }
}
